absl-py==0.12.0
appdirs==1.4.4
asgiref==3.3.1
astunparse==1.6.3
awsebcli==3.20.3
beautifulsoup4==4.9.3
botocore==1.23.54
branca==0.4.2
cachetools==4.2.1
caer==1.9.7
canaro==1.1.0
cement==2.8.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
cmake==3.22.1
colorama==0.4.3
cycler==0.10.0
dask==2021.4.0
decorator==4.4.2
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.5
djangorestframework==3.12.4
environ==1.0
filelock==3.0.12
Flask==1.1.2
flask-marshmallow==0.14.0
flask-ngrok==0.0.25
Flask-SQLAlchemy==2.5.1
flatbuffers==1.12
folium==0.12.1
fsspec==0.9.0
future==0.16.0
gast==0.4.0
google-auth==1.28.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
greenlet==1.0.0
grpcio==1.34.1
gunicorn==20.1.0
h5py==3.1.0
idna==2.10
imageio==2.8.0
imutils==0.5.3
inexactsearch==1.0.2
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
kiwisolver==1.3.1
locket==0.2.1
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==1.1.1
marshmallow==3.11.1
marshmallow-sqlalchemy==0.24.2
matplotlib==3.3.3
mlxtend==0.19.0
mysql-connector-python==8.0.31
networkx==2.4
nltk==3.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==21.3
pandas==1.2.0
partd==1.1.0
pathspec==0.9.0
Pillow==8.1.0
pipenv==2020.11.15
protobuf==3.15.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyJWT==2.6.0
pyparsing==2.4.7
pypiwin32==223
python-dateutil==2.8.1
python-mnist==0.7
python-vlc==3.0.12118
pytz==2020.5
PyWavelets==1.1.1
pywin32==305
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.18.1
scikit-learn==0.24.0
scipy==1.6.0
semantic-version==2.8.5
silpa-common==0.3
six==1.14.0
sklearn==0.0
soundex==1.1.3
soupsieve==2.2.1
SQLAlchemy==1.4.7
sqlparse==0.4.1
termcolor==1.1.0
tf-estimator-nightly==2.5.0.dev2021032501
threadpoolctl==2.1.0
tifffile==2020.6.3
toolz==0.11.1
tqdm==4.57.0
twilio==7.15.2
typing-extensions==3.7.4.3
urllib3==1.26.13
virtualenv==20.4.3
virtualenv-clone==0.5.4
wcwidth==0.1.9
Werkzeug==1.0.1
whitenoise==5.2.0
wrapt==1.12.1
