{% extends 'donation/base.html' %}
{% block titles %}
  PlasmaDonor.com - FAQ
{% endblock %}

{% block body %}



<div class="sections">
  <div class="question"> <p>What is Convalescent Plasma?</p></div>
  <div class="answer"><p>Convalescent refers to anyone recovering from a disease. Plasma is the yellow, liquid part of blood that contains antibodies. Antibodies are proteins made by the body in response to infections. Convalescent plasma from patients who have already recovered from coronavirus disease 2019 (COVID-19) may contain antibodies against COVID-19. Giving this convalescent plasma to hospitalized people currently fighting COVID-19 may help them recover.</p></div>

</div>
<div class="sections">
  <div class="question"> <p>I Have Fully Recovered From COVID-19. Am I Eligible to Donate Plasma?</p></div>
  <div class="answer"><p>TPeople who have fully recovered from COVID-19 for at least two weeks are encouraged to consider donating plasma, which may help save the lives of other patients. COVID-19 convalescent plasma must only be collected from recovered individuals if they are eligible to donate blood. Individuals must have had a prior diagnosis of COVID-19 documented by a laboratory test and meet other donor qualifications. Individuals must have complete resolution of symptoms for at least 14 days prior to donation. A negative lab test for active COVID-19 disease is not necessary to qualify for donation.  </p></div>
</div>
<div class="sections">
  <div class="question"> <p>How Can I Donate Convalescent Plasma?</p></div>
  <div class="answer"><p>Several resources are available regarding options to donate convalescent plasma in your area. To learn more and find the site nearest you:</p></div>
</div>
<div class="sections">
  <div class="question"> <p>I Haven’t Had COVID-19. What Can I Do to Help?   </p></div>
  <div class="answer"><p>You can consider donating blood! One blood donation can save up to three lives. The COVID-19 pandemic has caused unprecedented challenges to the U.S. blood supply. Donor centers have experienced a dramatic reduction in donations due to the implementation of social distancing and the cancellation of blood drives. Blood is needed every day to provide lifesaving treatments to a variety of patients. You can help ensure that blood continues to be available for patients by finding a blood donor center near you to schedule your donation. Several sites also have information about donating plasma.</p></div>
</div>



<script>
  var acc = document.getElementsByClassName("question");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
  </script>
{% endblock %}