{% extends 'donation/base.html' %}
{% block titles %}
  PlasmaDonor.com
{% endblock %}

{% block body %}

<div class="container mx-auto my-3">
<a href="/donation/donate" type="button" class="btn btn-outline-danger my-3 btn-lg">I wish to donate plasma</a>
<a href="/donation/location" type="button" class="btn btn-outline-danger my-3 btn-lg">I need plasma</a>
</div>

<div class="container">
  <h1>Welcome to PlasmaDonor.com! </h1>
  <p> Patients all over the world rely on plasma protein therapies to treat rare, chronic diseases. These individuals rely on the generosity and commitment of plasma donors. Plasma often is referred to as the "gift of life" because it is the essential starting material needed to manufacture therapies that help thousands of people worldwide with rare, chronic diseases to live healthier, productive and fulfilling lives.</p>
</div>

{% endblock %}